<h1> insert something into mongo</h1>
<form method="POST" action="/insert" style="display: inline-block">  
  <input id="newPost" name="newPost">
  <input id="teamName" name="teamName"> 
  <input type="submit" value="update"> 


<a href="/mongo">go to read page</a>