/*debug for divs*/
/* div {
  outline: 1px solid red;
} */

@font-face {
  font-family: titans;
  src: url("../fonts/NFLTITAN.TTF");
}
@font-face {
  font-family: varsity;
  src: url("../fonts/varsity_regular.ttf");
}
body {
  background-image: url("../pics/titans.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
}
.navbar {
  background-color: #c40c33;
  margin-top: -8px;
}
#navLinks {
  margin-left: 20px;
}
.navbar a{
  color: white;
}
#titleHeader {
  text-align: center;
}
#titleP {
  border-radius: 15px;
  font-family: varsity;
  background-color: white;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}
#updatebtn {
  border: thin;
}
.accordion {
  font-family: titans;
  margin-left: 20%;
  margin-right: 20%;
  border: none;
}
.accordion-item {
  border: 0px;
}
.accordion-interior1 {
  display: block;
  float: left;
}
.accordion-interior2 {
  display: block;
  float: left;
  margin-left: 100px;
  text-align: center;
}
.accordion-interior3 {
  display: none;
  float: right;
}
.accordion-form1 {
  display: block;
  float: left;
}
.accordion-form2 {
  display: block;
  float: left;
}
.topInput {
  margin-bottom: 2px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* // A Dark Overlay that sits between the main page and the modal so the Modal pops out */
.popup-position{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;

/* // The Modal Wrapper    */
}
#popup-wrapper{
text-align: left;
}

/* //The Modal Container */
#popup-container{

    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 70px auto;

    a{
        cursor: pointer;
    }
}